<html>
<body>
<table>
<% 
	var events = eventTable.find();
	for (var e in events) {
		resp.write("<tr>"); 
		resp.write("<td
		e.name
		e.condition
		for (var a in e.action) {
			resp.write("td")
		}
	}
%>
</table>
</body>
</html>